.form {
  float: left;
  width: 500px;
  padding-top: 20px;
  padding-left: 50px;
}

h1 {
  margin-left: -100px;
  color: #173F5F;
  font-family: sans-serif;
  font-size: 20px;
}

.form input {
  width: 60%;
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 1px solid #173F5F;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .button {
  border: 1px solid #173F5F;
  background: #173F5F;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 14px;
}

.task {
  text-align: left;
  font-family: sans-serif;
  width: 330px;
}

.deleteIcon {
  float: right;
  cursor: pointer;
}

.list {
  background-color: #b3b3b3;
  color: #173F5F;
  list-style-image: none;
}

ngb-datepicker{
  float: right;
  margin: 50px 300px 0px 50px;
}

.dateChange {
  margin-top: 350px;
  margin-right: -500px;
  border: 1px solid #173F5F;
  background: #173F5F;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 14px;
  width: 230px;
}

.dateChange:active, .dateChange:hover, .dateChange:focus{
  background-color: cadetblue;
  color: white;
  border-color: cadetblue;
}
