<div class="form">
  <h1>Список задач</h1>

  <div>
    <input type="text" name="task"  placeholder="Добавить задачу" #task><span class="button"
                                                                             (click)="addTask(task.value)">Добавить</span>
  </div>

  <div>
    <ul>
      <li class="task" *ngFor="let task of tasks">
        <input type="checkbox" [attr.id]="task">
        <label [attr.for]="task"><span></span>
          <p>{{task}}</p>
        <i class="material-icons deleteIcon" (click)="deleteItem(task)">delete</i></label>
      </li>
    </ul>
  </div>

</div>
<div>
<ngb-datepicker #dp [(ngModel)]="selectedDate" (navigate)="date = $event.next"></ngb-datepicker>

</div>
<button class="dateChange"(click)="getTasks()">Показать задачи</button>
