<div class="form">
  <h1>Список задач на
    {{selectedDate.day | number:'2.0-0'}}-{{selectedDate.month| number:'2.0-0'}}-{{selectedDate.year}}
  </h1>
  <div>
    <input type="text" name="task"  placeholder="Добавить задачу" #task>
    <span class="button"
          (click)="addTask(task.value); task.value = ''">
      Добавить
    </span>
  </div>

  <div>
    <ul>
      <li class="task" *ngFor="let task of tasks; trackBy:task.taskId">
        <select [(ngModel)]="task.taskStatus" (change)="changeStatus(task.taskId, task.taskStatus)">
          <option *ngFor="let c of statusList" [ngValue]="c.status">{{c.title}}</option>
        </select>
          <p>{{task.taskText}}</p>
        <i class="material-icons deleteIcon" (click)="deleteItem(task.taskId)">delete</i>
      </li>
    </ul>
  </div>

</div>
<div>
<ngb-datepicker #dp [(ngModel)]="selectedDate" (ngModelChange)="getTasks()" class="date"></ngb-datepicker>

</div>
<!--<button class="dateChange"(click)="getTasks()">Показать задачи</button>-->
