.form {
  float: left;
  width: 500px;
  padding-top: 20px;
  padding-left: 50px;
}

h1 {
  margin-left: -100px;
  color: #173F5F;
  font-family: sans-serif;
  font-size: 20px;
}

.form input {
  width: 60%;
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 1px solid #173F5F;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .button {
  border: 1px solid #173F5F;
  background: #173F5F;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 14px;
}


ul li{
  background: #eee;
  border-left: 4px solid #173F5F;
  padding: 1em;
  width: 380px;
  color: black;
  font-family: sans-serif;
  list-style-type: none;
  text-align: left;
}

.deleteIcon {
  float:right;
  cursor: pointer;
  color: #173F5F;
  margin-top: -2px;
}

ngb-datepicker{
  float: right;
  margin: 50px 300px 0px 50px;
}

.dateChange {
  margin-top: 350px;
  margin-right: -550px;
  border: 1px solid #173F5F;
  background: #173F5F;
  color: #f2f2f2;
  border-radius: 5px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 14px;
  width: 230px;
}

.dateChange:active, .dateChange:hover, .dateChange:focus{
  background-color: cadetblue;
  color: white;
  border-color: cadetblue;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span{
  display: inline-block;
  width: 25px;
  height: 25px;
  /*background-color: #173F5F;*/
  margin: 0px 20px 0px 0px;
  vertical-align: top;
  background: url("../../../assets/images/unchecked.png");
  background-size: 25px 25px;
}

input[type="checkbox"]:checked + label span{
  border: none;
  background: url("../../../assets/images/checked.png");
  background-size: 25px 25px;
}

p {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 300px;
  word-wrap: break-word;

}
.date >>> .bg-primary{
  background: #173F5F;
}

.date >>> .text-white{
  color: white;
}
