<div class="chat-container">
  <div class="chat">
    <div class='message' [ngClass]="{'userMessage': checkCurrentUser(m.sender)}" *ngFor="let m of messages">
      <div>
        <span class="senderName">{{m.sender}}</span>
        <br>
        <span class="sendingTime">{{m.timeOfSending}}</span>
        <div class="messageText">{{m.messageText}}</div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="send-button">
    <div class="send" (click)="sendMessage()"></div>
    <label>
      <input  [(ngModel)]="input"  type="text">
    </label>
  </div>
</div>
