<form class="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div *ngIf="error" class="login-error">
    Вы ввели неверный логин или пароль!
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <label>
      <input class="input username" type="text" name="username" [(ngModel)]="user.userName" #username="ngModel"
             placeholder="Номер телефона" required/>
    </label>
    <div class="error" *ngIf="f.submitted && !username.valid">Обязательно для заполнения</div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label>
      <input class="input password" type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
             placeholder="Пароль" required/>
    </label>
    <div class="error" *ngIf="f.submitted && !password.valid">Обязательно для заполнения</div>
  </div>
  <div>
    <button class="loginError" [disabled]="afterClick">Вход</button>
  </div>
  <div class="newEmployee">Новый сотрудник? <a routerLink="/registration">Зарегистрируйтесь.</a></div>
</form>
